@page
@model PerformanceCalculator.Pages.Exams.IndexModel

@{
    ViewData["Title"] = "Exam";
}

<br/>

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info"> Exam List</h2>
    </div>
    <div class="col-3">
        <p>
            <a class="btn btn-info form-control" asp-page="./Create">Create Exam</a>
        </p>
    </div>
    <div class="col-12 border p-3 mt-3">
        @if (Model.Exam.Any())
        {
            <table class="table table-striped border">
                <thead>
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Exam[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exam[0].TotalMark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exam[0].Course)
                    </th>
                    <th>
                        Teacher
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Exam)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Teacher.FirstName)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-info" asp-page="./../Marks/Create" asp-route-id="@item.Id">Add Mark</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No Exams Available.</p>
        }
    </div>
</div>