@page
@model PerformanceCalculator.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Courses";
}

<br/>

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info"> Course List</h2>
    </div>
    <div class="col-3">
        <p>
            <a class="btn btn-info form-control" asp-page="./Create">Create Course</a>
        </p>
    </div>
    <div class="col-12 border p-3 mt-3">
        @if (Model.Course.Any())
        {
            <table class="table table-striped border">
                <thead>
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Credit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Teacher)
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Course)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Credit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.FirstName) 
                            @Html.DisplayFor(modelItem => item.Teacher.LastName)
                        </td>
                        <td>
                            <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                            <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No Teacher Available.</p>
        }
    </div>
</div>